body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #808080;
    color: #FFFFFF;
  
    width: 980px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }
ol {
  text-align: center;
  font-weight: bold;
}

  section > h2 {
    color: red;
    font-weight: bold;
  }

  header{
    display: block;
    text-align: center;
    background-color: #707070;
    box-shadow: 1px 2px 3px 1px #999999;
    margin: 0;
    margin-right: 40px;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    max-height: 45px;
    overflow: hidden;}
      .top_menu ul{
    padding: 0;
    margin: 0;
  }
  .top_menu li{
      width: auto;
      height: 45px;
    display: inline-block;
    background-color: #707070;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  .top_menu a{
    color: #ededed;
    text-decoration: none;
    display: block;
    padding-top: 14px;
    font-family: arial;
    font-size: 17px;
    text-align:  center;
  }
  #log {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    padding: 4px;
  }
