#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #0066FF;
    border-radius: 20px 20px;
    width: 1000px;
    text-align: center;
    background-color: #33ADFF;
  }
  #navbar li { display: inline; }
  #navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 200px;
  }
  #navbar a:hover {
    border-radius: 20px 20px;
    background-color: #0066FF;
  }

  #logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    padding: 4px;
  }

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#one {
    text-align: center;
    font-weight: bold; 
}

#two {
    text-align: center;
    font-weight: bold;   
}

h2 {
    margin-left: 10px;
}

h4 {
    text-align: center; 
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #0051ff;
}

.fonOne {
    background-color: #B3CAFF;
}

.fontwo {
    background-color: #B3CAFF;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

section {
    border: 2px solid #747474;
    border-radius: 15px 15px;
    background-color: #fffefe;
    margin: 10px 10px;
    display: inline-block;
}

#h4 {
    border: 2px solid #747474;
    border-radius: 20px 20px;
    background-color: #d8f38d;
    margin: 10px 10px;
    display: inline-block;
    width: 1080px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

nav {
    padding-left: 70px;
}

header {
    margin-left: 20%;
}

#cent {
    margin-left: 70px;
}

.block-shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  .main {
    text-align: center; 
  }